body{
    margin: 0;
}

.hero-image{
    background-image: url("technology.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: x-large;
}

a{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 15px;
}

